@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap");
.img {
  position: absolute;
  right: 10px;
  top: 10px;
}

.div {
  position: relative;
}

.opac {
  opacity: 2 !important;
}

.logo_heading {
  font-size: 40px;
  font-weight: 600;
  font-family: "Charmonman", "Redressed", cursive;
}
